/* Acordeon styles */
.tab {
    position: relative;
    width: 100%;
    margin-bottom: 1px;
    color: #000000;
    overflow: hidden;

    border-top: 1px solid #D2D9E2;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


.tab label {
    position: relative;
    display: block;
    background: #fff;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 52px;
    font-size: 18px;
    color: #0059D9;
    cursor: pointer;
}

.tab label:hover {
    color: #000000;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.tab-content  p {
    margin-bottom: 20px;
    text-align: left;
}

/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    font-family: auto;
    font-size: 20px;
}

.tab input[type=checkbox]:hover + label::after {
    content: "+";
}

.tab input[type=checkbox]:checked + label::after {

    -webkit-transform: rotate(-495deg);
    -moz-transform: rotate(-495deg);
    -o-transform: rotate(-495deg);
    -ms-transform: rotate(-495deg);
    transform: rotate(-495deg);
}



/****** File Input *******************/


.overlay-layer{
    height:36px;
    position: relative;
    z-index:0;
    margin-top: -56px;
    margin-bottom: 20px;
    font-size:16px;
    color:#0059D9;
    text-align:center;
    line-height:40px;
    box-sizing: border-box;

    background: rgba(255,255,255,0.00);
    border: 1px solid rgba(31,64,111,0.20);
    border-radius: 4px;
}
.upload_btn{
    position: relative;
    margin-top: -36px;
    height:36px;
    z-index:10;
    opacity:0;
    box-sizing: border-box;
}

/*************************************/


/** Слайдер **************************/
 /* img {
  max-width: 100%;
}

.slider-container{
  height: 380px;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  position: relative;
  z-index: 900;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #71ABFF;
  border-radius: 50%;
  margin: 0 .2em 1em;
}

.menu label:hover {
  background: #fff;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

input[type=radio]:checked + label {
    background: #25282A;;
    border: 1px solid #71ABFF;
}

.slider_action_list {
    display: inline-flex;
    margin: 0;
}

.slider_li {
    width: 8px;
    height: 8px;
    text-align: center;
}

.slide-1 {
  background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}
.slide-2 {
  background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}
.slide-3 {
  background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
} */

/* .slider-box {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px 15px 60px;
    position: relative;
}
.slider__source { color: #fff; display: block; }
.slider__btn {
    background-color: #fff;
    color: #181818;
    font-size: 20px;
    padding: 5px 30px;
    position: absolute;
    right: 30px;
    bottom: 20px; }
@media (max-width: 600px) {
    .slider__btn { position: relative; margin-top: 30px; right: inherit; bottom: inherit;}
}
.slider__contents a { text-decoration: none; }
*, *:before, *:after { box-sizing: border-box; }

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 6px!important;
    border-radius: 50%;
    z-index: 10;
    outline: none;
    border: 10px solid #181818;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner { left: 0%; }
.slider__nav:checked:nth-of-type(2) ~ .slider__inner { left: -100%; }
.slider__nav:checked:nth-of-type(3) ~ .slider__inner { left: -200%; }
.slider__nav:checked:nth-of-type(4) ~ .slider__inner { left: -300%; }
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
.slider__txt { color: #fff; }
@-webkit-keyframes check {
    50% { border-color: #fff; }
    100% { border-color: #fff; } }
@keyframes check {
    50% { border-color: #fff; }
    100% { border-color: #fff; } }
*/






